div[data-list-item-id="people___xdd"]{
    display: none !important;
}
.listRow__9d78f:has(.wrapper__44b0c[aria-label^="xdd"]){
    display: none !important;
}
.nowPlayingColumn__133bf{
    display: none;
}
[class^=interactive_bf202d]:has(

[href="/store"],

[href="/shop"]
) {
display: none;
}
.sectionTitle__5ec2f{
    display: none;
}
[class$="custom-theme-background custom-user-profile-theme"] {
    --profile-gradient-primary-color: var(--background-surface-high) !important;
    --profile-gradient-secondary-color: var(--background-surface-high) !important;
    --profile-gradient-overlay-color: rgba(0, 0, 0, 0) !important;
    --profile-gradient-button-color: var(--background-mod-subtle) !important;
    --theme-base-color-light-hsl: unset !important;
    --theme-base-color-light: unset !important;
    --theme-text-color-light: unset !important;
    --theme-base-color-dark-hsl: unset !important;
    --theme-base-color-dark: unset !important;
    --theme-text-color-dark: unset !important;
    --theme-base-color-amount: unset !important;
    --theme-text-color-amount: unset !important;
}


div[class*="nameplated_"] > div[class^="container"][style^="background"],

li[class*="dm_"][role="listitem"] > div > div[class^="container"][style^="background"] {
    display: none;
}
